
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On

RewriteBase /

# block visitors referred from semalt.com and all subdomains and other spam and fishing sites
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*semalt\.com [NC]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*semalt\. [NC]
RewriteCond %{HTTP_REFERER} ^https?://([^.]+\.)*seoanalyses\.com [NC]
RewriteRule .* - [F]


RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# trying to block these terrible people another way
SetEnvIfNoCase Referer semalt.com spammer=yes

Order allow,deny
Allow from all
Deny from env=spammer 